# ignore django admin
**/static/admin/** linguist-vendored

# ignore migrations
**/migrations/** linguist-generated

# ignore virtual env
.venv/** linguist-vendored

# ignore collected static
staticfiles/** linguist-vendored

# ignore templates
templates/** linguist-documentation
