# Force Linguist to ignore frontend JS and CSS files for language stats
assets/** linguist-vendored
static/** linguist-vendored
templates/** linguist-vendored

# Force Django/Python to be counted
*.py linguist-language=Python
